<div class="container topofpage" ng-controller="GameController">
    <div class="row">
        <div class="col-xs-12">
            <h3>Please select your choice by clicking on the respective icon:</h3>
            <div class="row center">
                <div ng-repeat="x in choices" class="col-md-4 col-xs-12">
                    <a href="#gamelog"><i ng-click="rps_game($index)" class="fa fa-hand-{{x}}-o fa-5x"></i></a>
                    <div>{{x}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h4><strong>Game Rules:</strong></h4>
            <ol>
                <li>[ Rock <i class="fa fa-arrows-h fa-lg"></i> Scissors ] <i class="fa fa-arrow-right fa-lg"></i> Rock Wins!<br>Since Rock smashes scissors.</li>
                <li>[ Scissors <i class="fa fa-arrows-h fa-lg"></i> Paper ] <i class="fa fa-arrow-right fa-lg"></i> Scissors Wins!<br>Since Scissors cut paper.</li>
                <li>[ Paper <i class="fa fa-arrows-h fa-lg"></i> Rock ] <i class="fa fa-arrow-right fa-lg"></i> Paper Wins!<br>Since Paper covers rock.</li>
                <li>[ Any choice <i class="fa fa-arrows-h fa-lg"></i> itself ] <i class="fa fa-arrow-right fa-lg"></i> Tie!</li>
            </ol>
        </div>
    </div>
</div>